.card{
    background: #000000;
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 2px;
    font-family: 'Comfortaa', cursive;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    align-self: center;
    width: 250px;
}
.card img{
    max-height: 180px;
    margin-bottom: 1rem;
}

.card h1{
    font-size: 1.3rem;
    margin: 1rem 0;
}

.card:hover{
    transform: scale(1.1);
}